{% extends 'base.html' %}

{% block title %}
<title>crear una publicacion</title>
{% endblock title %}
{% block texto_header %}
<h1>
        Aquí podes crear publicaciones
</h1>
{% endblock texto_header %}   

{% block aparece_lista %}
<p>
    <a href={% url 'listado_publicaciones' %}>Volver</a>
</p>
<p>
    <form action={% url 'crear_publicacion' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.media}} 
            {{form.as_table}}
         
        </table>   
        <button>Crear</button>
    </form>
</p>
{% endblock aparece_lista %}