{% extends 'base.html' %}

{% block title %}
<title>edita una publicaciones</title>
{% endblock title %}
{% block texto_header %}
<h1>
        Vamos a editar publicaciones
</h1>
{% endblock texto_header %}   

{% block aparece_lista %}
<p>
    <a href={% url 'listado_publicaciones' %}>Volver</a>
</p>
<p>
    <form action={% url 'editar_publicaciones' publicaciones.id %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.media}} 
            {{form.as_table}} 
            <button>Editar</button>
        </table>   
        
    </form>
</p>
{% endblock aparece_lista %}