{% extends 'base.html' %}

{% block title %}
<title>muestra publicaciones</title>
{% endblock title %}
{% block texto_header %}
<h1>
        Vamos a ver informacion de una publicacion
</h1>
{% endblock texto_header %}   

{% block aparece_lista %}
<p>
    <a href={% url 'listado_publicaciones' %}>Volver</a>
</p>
<p>
   <ul>
       <h1>
       {{publicaciones.titulo}}
        </h1>
        <h4>
            {{publicaciones.sub_titulo}}
        </h4>
        <p>
            {{publicaciones.contenido}}

        </p>
             {{publicaciones.autor}} {{publicaciones.fecha_creacion}} 
        
   </ul>
</p>
{% endblock aparece_lista %}