{% extends 'base.html' %}

{% block title %}
<title>lista personas</title>
{% endblock title %}
{% block texto_header %}
<h1>
        Aquí podes ver a las Personas
</h1>
{% endblock texto_header %}   

{% block aparece_lista %}
<p>
        <a href={% url 'crear_persona'  %}> Crear Persona</a>
</p>

<p>
        <form action= {% url 'listado_personas' %}>
          {{form}}
          <button>Buscar</button>
        </form>
</p>

<p>
        {% if listado_personas %}
        <ul>
        {% for persona in listado_personas %}
                <li>{{persona}}</li>
        {% endfor %}
        </ul>
        {% else %}
        No se encontraron datos.
        {% endif %}
</p>
{% endblock aparece_lista %}